.wrapper {
  border: 3px solid #000000;
  border-radius: 8px;
  max-width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f7f4f4;
}

.userCard {
  text-align: center;
  padding: 20px;
}

.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  background-color: #2e2c2c;
}

.userName {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.tag {
  color: #6b6b6b;
  margin: 5px 0;
}

.location {
  color: #6b6b6b;
  margin: 5px 0;
}

.statsList {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #747373;
  background-color: #c2c0c0;
  list-style: none;
}

.statsItem {
  padding: 10px 0;
  text-align: center;
  flex: 1;
  border: 1px solid#747373;
  border-bottom: none;
}

.statsItem:last-child {
  border-right: none;
}

.statsItem:first-child {
  border-left: none;
}

.statsLabel {
  display: block;
  color: #000000;
  margin-bottom: 5px;
}

.statsValue {
  font-weight: bold;
  font-size: 1.1em;
}
