.wrapper {
  border: 3px solid #000000; /* Рамка */
  border-radius: 8px; /* Закруглені кути */
  max-width: 300px; /* Максимальна ширина картки */
  margin: 20px auto; /* Центрування картки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
  overflow: hidden; /* Щоб нічого не виходило за межі */
  background-color: #e5e4e4; /* Білий фон */
}

.userCard {
  text-align: center; /* Центрування тексту */
  padding: 20px; /* Відступи */
}

.cardImage {
  width: 100px; /* Ширина аватарки */
  height: 100px; /* Висота аватарки */
  border-radius: 50%; /* Кругла форма */
  margin: 0 auto 10px; /* Відступ знизу */
  background-color: #2e2c2c;
}

.userName {
  font-size: 2em; /* Розмір шрифту */
  font-weight: bold; /* Жирний шрифт */
  margin: 10px 0; /* Відступи */
}

.tag {
  color: #6b6b6b; /* Сірий колір */
  margin: 5px 0; /* Відступи */
}

.location {
  color: #6b6b6b; /* Сірий колір */
  margin: 5px 0; /* Відступи */
}

.statsList {
  display: flex; /* Гнучке відображення */
  justify-content: space-around; /* Розподілення простору між елементами */
  border-top: 1px solid #747373; /* Верхня рамка */
  background-color: #c2c0c0;
  list-style: none;
}

.statsItem {
  padding: 10px 0; /* Відступи */
  text-align: center; /* Центрування тексту */
  flex: 1;
  border: 1px solid#747373;
  border-bottom: none;
}

.statsItem:last-child {
  border-right: none;
}

.statsItem:first-child {
  border-left: none;
}

.statsLabel {
  display: block; /* Блокове відображення */
  color: #000000; /* Сірий колір */
  margin-bottom: 5px;
}

.statsValue {
  font-weight: bold; /* Жирний шрифт */
  font-size: 1.1em;
}
